.AppMain {
  /* Sets screen to 100% by 100% */
  width: 100vw;
  height: 100vh;
  
  align-items: center;

  /* Changes icon to be in row with the name */
  display: flex;
  flex-direction: row;
}

* {
  /* Gets rid of margins and padding on sides of screen */
  margin: 0;
  padding: 0;
  font-family: Charlie Display, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Droid Sans, Helvetica Neue, sans-serif;
  font-weight: 500;
}

html, body {
  /* Gets rid of margins and padding on sides of screen */
  margin: 0;
  padding: 0;

  max-width: 100%;
  overflow-x: hidden;
}

textarea {
  padding: 0;
  border: none;
  outline: none;
  resize: none !important;
  overflow: visible;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  background-color: transparent;

  width: 280px;
  height:auto;
}

.Sidebar {
  /* Size of sidebar */
  width: 100%;
  bottom: 0%;
  
  position: fixed;
  overflow: hidden;

  /* Color of sidebar */
  background-color: #323f52;

  /* Makes sidebar in front of everything */
  z-index:99;
}

.SidebarList {
  /* Size of sidebar list in sidebar */
  width: 100%;
  height: 55px;

  /* Changes icon to be in row */
  display: flex;
  flex-direction: row;
  padding: 0;
}

.SidebarList .SidebarRow {
  /* Size of sidebar row in sidebar list */
  width: 100%;
  
  margin: 0;
  justify-content: center;
  align-items: center;

  /* Changes icon to be in row */
  display: flex;
  flex-direction: row;

  /* Removes other aspects of a basic list */
  list-style-type: none;

  /* Color of icons and name */
  color: white;
}

.SidebarList .SidebarRow:hover {
  /* Hover effect */
  cursor: pointer;
  background-color: #2c3745;
}

.SidebarList #active {
  /* Hover effect stays when clicked on*/
  background-color: #2c3745;
}

.Subject {
  /* Size of subject area */
  width: 100%;
  height: 100%;
}

.SubjectList {
  /* Changes subjects to be in row with other subjects */
  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;

  padding-bottom: 75px;

  /* Removes other aspects of a basic list */
  list-style-type: none;
}

.Subject .SubjectRow {
  /* Size of subject */
  width: 300px;
  height: auto;
  padding-bottom: 60px;
  margin-top: 4%;
  border-radius: 50px;
  justify-content: center;
  align-items: center;

  background-color: white !important;

  /* Makes delete button position absolute work */
  position: relative;
}

.SubjectRow #SubjectWrapper {
  /* Makes name and button in row */
  display: flex;
  flex-direction: row;

  /* Makes button position absolute work */
  position: relative;
}

.SubjectRow #SubjectName {
  /* Centers name */
  display: grid;
  place-items: center;
  margin-top: 3%;
  margin-left: 15%;
  width: 70%;
  
  text-align: center;
  max-height: 60px;
  /* Color of name*/
  color: black;

  font-size: xx-large;
  font-weight: 7    00;
}

.SubjectRow #SubjectButton {
  /* Centers icon in button */
  display: grid;
  place-items: center;

  /* Makes button's positioning not effect other elements */
  position: absolute;
  
  margin-left: 85%;
  margin-top: 15px;

  /* Circle button css */
  height: 35px;
  width: 35px;
  border-radius: 50%;
}

.SubjectRow #SubjectTasks {
  /* Centers tasks */
  display: grid;
  place-items: center;
  margin-top: 3%;
}

.SubjectRow #SubjectDeleteButton {
  /* Centers icon in button */
  display: grid;
  place-items: center;

  /* Makes button's positioning not effect other elements */
  position: absolute;
  
  margin-left: 82.5%;
  margin-top: 6%;

  /* Circle button css */
  height: 35px;
  width: 35px;
  border-radius: 50%;
}

.SubjectRow #TaskAddButton {
  /* Centers icon in button */
  display: grid;
  place-items: center start;

  /* Makes button's positioning not effect other elements */
  position: absolute;
  
  margin-left: 32.5%;
  margin-top: -2.7%;

  /* Circle button css */
  height: 35px;
  width: 110px;
  border-radius: 50%;
}

.SubjectRow #TaskAddName {
  /* Centers text in button */
  display: grid;
  place-items: center;

  /* Makes text's positioning not effect other elements */
  position: absolute;
  
  margin-left: 42.5%;
  margin-top: -1%;
}

.SubjectList #SubjectAddWrapper {
  /* Size of subject */
  width: 300px;
  height: 75px;
  padding-bottom: 60px;
  margin-top: 4%;
  border-radius: 50px;
  justify-content: center;
  align-items: center;
  position: relative;

  display: grid;
  place-items: center;
  background-color: white;
  border-width: 5px;
}

.SubjectList #SubjectAddButton {
  margin-left: -33%;
  position: absolute;
}

.SubjectList #SubjectAddName {
  margin-left: 7%;
  position: absolute;
}

.Task {
  width: 100%;
  margin: 5px;
}

.TaskList {
  /* Removes other aspects of a basic list */
  list-style-type: none;
}

.TaskRow {
  margin-left: 3px;
  margin-right: 3px;
  margin-top: 6px;
  margin-bottom: 6px;

  max-width: 294px;

  border-radius: 10px;
  border-width: 2px;
  border-color: black;
  background-color: white;
}

.TaskRow #TaskWrapper {
  height: 40px;
  /* Makes name and button in row */
  display: flex;
  flex-direction: row;

  /* Makes button position absolute work */
  position: relative;
}

.TaskRow #TaskName {
  font-size: medium;
  font-weight: 500;
  text-align: left;
  padding: 8px;
}

.TaskRow #TaskDeletePopup {
  background-color: blue;
}

.TaskRow #TaskDeleteButton, #TaskMoveUpButton, #TaskMoveDownButton {
  /* Centers icon in button */
  display: grid;
  place-items: center;

  /* Makes button's positioning not effect other elements */
  position: absolute;
  padding-left: 5px;
  margin-left: 88%;

  /* Circle button css */
  height: 35px;
  width: 35px;
  border-radius: 50%;
}

.TaskRow #TaskMoveUpButton {
  margin-left: 79% !important;
}

.TaskRow #TaskDesc {
  min-height: 100px;
  text-align: left;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
}

.TaskRow #TaskStart, #TaskDeadline {
  text-align: left;
  padding-left: 10px;
}

.TaskRow #TaskStartWrapper {
  display: flex;
  flex-direction: row;

  max-height: 30px;
}

.TaskRow #TaskEndWrapper {
  display: flex;
  flex-direction: row;
}

.TaskRow #TaskStartText, #TaskEndText {
  text-align: left;
  padding-left: 10px;
}

/*
.TaskRow #TaskEndEnder {
  min-height: 25px;
}
*/

.TaskRow #TaskDeadline {
  padding-bottom: 10px;
}
